/* app css stylesheet */
body {
    font-family: "Verdana";
	color: black;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

p {
	font-size: 12px;
}

/* style for all form input*/
input {  
	background-color: #E7E7EF;
	border: none;
}


/*   FOR ACTIVITY FORM    */

/* Align label with input form */
#activityForm label{
  display: block;
  float: left;
  width : 120px;    
}

#cancelBtn {
	background-color: red;
	color: white;
	border: none;
}

#saveBtn {
	background-color: green;
	color: white;
	border: none;
}

#divActivities {
	width:350px;
	height:600px;padding:10px;
	border:1px solid #aaaaaa;
	position: relative;
	top:10px;}

.divDay {
	width:350px;
	height:485px;padding:10px;
	border:1px solid #aaaaaa;
	position: relative;
	top: -720px;
	left: 400px;
}

.labelsDay{
	position: relative;
	top: -640px;
	left: 400px;
	padding: 3px;
	font-size: 12px;
}

#buttonDay{
	position: relative;
	top: -650px;
	left: 400px;
}

.canvasGraph{
	position: relative;
	top: -740px;
	left: 680px;
	border:1px solid #aaaaaa;

}



/*
input[type=submit] {
	padding:5px 15px; background:#ccc; border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
}*/

