/* app css stylesheet */

body {
	font: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

.navbar-brand {
  font-size: 23px;
  font-family: "Chalkduster";
}

#activityForm label{
    display: block;
    float: left;
    width : 120px;    
}

#divActivities {
    width:350px;
    height:600px;padding:10px;
    border:2px #aaaaaa;
    position: relative;
    top:10px;
    border-top-style: dashed;
    border-right-style: dashed;
    border-bottom-style: dashed;
    border-left-style: dashed;}

.divDay {
    width:350px;
    height:485px;padding:10px;
    border:2px #aaaaaa;
    position: relative;
    top: -720px;
    left: 400px;
    border-top-style: dashed;
    border-right-style: dashed;
    border-bottom-style: dashed;
    border-left-style: dashed;}

.labelsDay{
    position: relative;
    top: -640px;
    left: 400px;
    padding: 3px;
    font-size: 12px;
}

#buttonDay{
    position: relative;
    top: -650px;
    left: 400px;
}

.leftbar_wrapper{
    background: white;
    height: 100%;
    padding: 10px;
    box-shadow: 1px 0 2px #999;
}
.drag-container{
}
.day-container{
    border: 1px dashed #666;
    padding: 2px;
    margin-top: 12px;
}


.DayColHeader {
    background: #BEB799;
}

/* graphical timeline representation*/
.progress-bar-presentation {
    background-color: #587498; /*blue*/
}
.progress-bar-group-work {
    background-color: #E86850; /*red*/
}
.progress-bar-discussion {
    background-color: #55A763; /*green*/
}
.progress-bar-break {
    background-color: #FFD800; /*yellow*/
}

/*Angular Animation*/

.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}

ul.cards > li:hover{
    border: 1px solid #333;
    transition: linear all .1s;
}

.sample-show-hide {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.sample-show-hide.ng-hide {
    opacity:0;
}


.animate-repeat {

}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
    max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
    max-height:40px;
}




/*header customized style*/
.navbar-inverse {
    background-color: #00ACC9;
	color: white;

}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    color: white;
}

/* botton-primary (add activity & OK) style */
.btn-primary {
  background-image: -webkit-linear-gradient(top, #428bca 0%, #2d6ca2 100%);
  background-image:         linear-gradient(to bottom, #CC0052 0%, #CC0052 100%);
  border-color: #CC0052;
}

.btn-primary:hover,
.btn-primary:focus {
  background-image: -webkit-linear-gradient(top, #428bca 0%, #2d6ca2 100%);
  background-image:         linear-gradient(to bottom, #99003D 0%, #99003D 100%);
  border-color: #99003D;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #CC0052;
  border-color: #CC0052;
}

/* button-add-day style */
.btn-add-day {
  background-color: #BEB799;
  border-color: #BEB799;
}

.btn-add-day:hover,
.btn-primary:focus {
  background-color: #D6D1BB;
  border-color: #D6D1BB;
}

/* button-warning (Cancel) style */
.btn-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image:         linear-gradient(to bottom, white 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #CC0052;
  color: #CC0052;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: white;
  border-color: #CC0052;
  background-position: 0 -15px;
   color: #CC0052;
}
.btn-warning:active,
.btn-warning.active {
  background-color: white;
  color: #CC0052;
}

.form-control.ng-dirty.ng-invalid-required{
  border-color: #AD3333;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px ##FF6600;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px ##FF6600;
}

.arrowBreak{
  color: #991B41;
  position: relative;
  top: -16px;
  left: 52px;
  
  

}
  
